<h1>Home page</h1>
 <ul>
  <% @invoices.each do |invoice| %> 
   <li><%= invoice.id %><%= invoice.client_name %><%= invoice.invoices_total %><%= invoice.expence_date %></li>
 </ul>
  <% end %>
 <%= link_to 'New Invoice', "invoices/new" %>
    
			
		
