<h1>New Invoice</h1>
<%= form_with model: @invoice do |form| %>
        <%= form.label :client_name, "Client_name:" %>
        <%= form.text_field :client_name %></br>
        <%= form.label :invoices_total, "Invoices_total:" %>
        <%= form.text_field :invoices_total %></br>
        <%= form.label :expence_date, "expence_date:" %>
        <%= form.text_field :expence_date %></br>
        
      <%= form.submit "Submit" %>
  <% end %>
  