<h1>Invoice</h1>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Invoice_number</th>
      <th scope="col">Client ID</th>
      <th scope="col">Invoice Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th scope="row"><a href= "/invoices/<%=@invoice.id%>/edit"> <%= @invoice.invoice_number %></a></th>
      <td><%= @invoice.client_id %></td>
      <td><%= @invoice.invoices_total %></td>
      <td><%= @invoice.status %></td>
    </tr>
  </tbody>
  
</table>
<%= button_to "Edit", { :action => "edit" }, :method => :get %>
<p>email to client</p>
<%#= link_to "View", view_invoice_path(@invoice.uuid) %>
<%= button_to "ViewInvoice", { :action => "view_invoice", :uuid => @invoice.uuid }, :method => :get %>
<%= button_to "Delete", { :action => "destroy" }, :method => :delete %>
