<%= form_with model: @client do |form|%>
 <%= form.hidden_field :user_id, value: current_user.id %>
<div class="form-group row" > 
       <div class="col">
       <%= form.label :name , "Client Name: " %>
        <%= form.text_field :name %>
      </div>
      <div class="col">
        <%= form.label :email , "Email: " %>
        <%= form.text_field :email %>
      </div>
    </div> 
      <div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
 
  <% end %>  <br>